* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-container {
    max-width: 700px;
}

h1 {
    color: #333;
    font-size: 32px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}